<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Matchmaker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>


<body class="d-flex text-center text-white">
    <canvas id="backgroundCanvas" style="position:fixed"></canvas>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Spotify Matchmaker</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <% if(!accessTokenPresent) { %>
                    <a class="nav-link" href="/auth">Authenticate with Spotify</a>
                    <% } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>Spotify Matchmaker</h1>
            <p class="lead"> 
                Welcome to Spotify Matchmaker! <br> 
                See how well two playlists or users match
            </p>

            <div style="text-align: center;">
                <a href="/playlists" style="margin:5px" class="homeButton btn btn-lg btn-secondary font-weight-bold 
                        <% if(!accessTokenPresent) { %> disabled <% } %>">
                    Compare Playlists
                </a>
                <a href="/users" style="margin:5px" class="homeButton btn btn-lg btn-secondary font-weight-bold 
                        <% if(!accessTokenPresent) { %> disabled <% } %>">
                    Compare Users
                </a>
            </div>
            <p class="lead" style="margin-top:8px"> Compare Users will consider all public playlists </p>
            <div style="text-align: center; margin-top:50px;">
                <% if (!accessTokenPresent) { %>
                    <p class="lead" style="font-weight:500; opacity: 1;"> 
                        Please authenticate with Spotify first. 
                    </p>
                <% } else { %>
                    <p class="lead" style="font-weight:500; opacity: 0;"> 
                        Please authenticate with Spotify first. 
                    </p>
                <% } %>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p style="font-style:italic">*Please note, this website is not mobile friendly yet. For best results access via a computer.*</p>
            <p>&copy; 2022 </p>
        </footer>


    </div>

    <script>
        const dotColor = '#1DB954';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/javascripts/backgroundCanvas.js">
    </script>
</body>

</html>