<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotinder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>


<body class="d-flex text-center text-white">
    
    <canvas id="backgroundCanvas"></canvas>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="" style="margin-bottom:100px">
            <div>
                <h3 class="float-md-left mb-0">Spotinder: Playlist Match Results</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/"> Home </a>
                    <a class="nav-link active" aria-current="page" href="/playlists"> Go Back </a>
                    <% if(!accessTokenPresent) { %>
                    <a class="nav-link" href="/auth">Authenticate with Spotify</a>
                    <% } else { %>
                    <!-- <a class="nav-link" href="/logout">Logout</a> -->
                    <% } %>
                </nav>
            </div>
        </header>

        <main>

            <div class="" style="padding:0; margin:0;">
                <div class="row justify-content-between" style="padding:0;">
                  <div class="col-sm-4" style="padding:0;">

                    <div class="firstPlaylistResult">
                        <p class="lead" style="font-size: 30px; font-weight: 500 ;"> Playlist 1 </p>
        
                        <div class="input-group w-5 h-5 align-items-center justify-content-center" style="padding: 0;">
                            <span class="input-group-text">Name:</span>
                            <span class="input-group-text form-control"><%= playlistOneData?.name %></span>
                        </div>
                    </div>

                  </div>
                  <div class="col-sm-4" style="padding:0;">

                    <div class="SecondPlaylistResult">
                        <p class="lead" style="font-size: 30px; font-weight: 500 ;"> Playlist 2 </p>
        
                        <div class="input-group mb-3 container" style="padding: 0;">
                            <span class="input-group-text">Name:</span>
                            <span class="input-group-text form-control"><%= playlistTwoData?.name %></span>
                        </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- <div class="SecondPlaylistResult" style="margin-right: auto; width: 33%; padding:0;">
                <p class="lead" style="display: flex; font-size: 30px; font-weight: 500 ;"> Playlist 2: </p>

                <div class="input-group mb-3 container" style="padding: 0;">
                    <span class="input-group-text">Name:</span>
                    <span class="input-group-text form-control"><%= playlistTwoData?.name %></span>
                </div>
            </div> -->
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 </p>
        </footer>


    </div>

    <!-- JavaScript / JQuery -->
    <script>
        const dotColor = '#FFB954';
        let bothPlaylistsValid = false; // disable the button compare playlists if not, use jquery
        let accessToken = document.getElementById('hiddenAccessToken')?.value;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script>
        $(function () {
            console.log(accessToken)
           $('.comparePlaylistButton').attr('disabled', 'disabled') 

           $(document).ready(function() {
                $(".playlistValidateButton").click(function(){
                    alert("hi")
                }); 
            });
        });
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/javascripts/backgroundCanvas.js">
    </script>
</body>

</html>