<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Matchmaker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>


<body class="d-flex text-center text-white">
    
    <canvas id="backgroundCanvas"></canvas>

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Spotify Matchmaker: Users</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/"> Home </a>
                    <% if(!accessTokenPresent) { %>
                    <a class="nav-link" href="/auth">Authenticate with Spotify</a>
                    <% } else { %>
                    <!-- <a class="nav-link" href="/logout">Logout</a> -->
                    <% } %>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <% if(error && error.length) {%>
                <div class="container alert alert-dismissible fade show" style="width:35%" role="alert">
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
            
            <form class="searchForm" action="/users/validate" method="GET">
                <input type="hidden" name="accessToken" id="accessToken" value="<%= accessToken %>">
                <div class="input-group mb-3 container input-container" style="width: 35%; padding: 0;">
                    <span class="input-group-text">Link to User 1</span>
                    <input type="text" name="usernameOne" id="usernameOne" class="form-control" 
                           placeholder="User Link" aria-label="User Link" aria-describedby="button-addon2" required>
                </div>

                <div class="container form-check form-switch" style="width: 35%;">
                    <input class="form-check-input" type="checkbox" id="userOneOnlyIncludeUser" name="userOneOnlyIncludeUser">
                    <label class="lead form-check-label" for="flexSwitchCheckDefault" style="float:left;"> 
                        Only include playlists created by the user
                    </label>
                </div>

                <div class="container form-check form-switch" style="width: 35%;">
                    <input class="form-check-input" type="checkbox" id="userOneOnlyIncludeUserSongs" name="userOneOnlyIncludeUserSongs">
                    <label class="lead form-check-label" for="flexSwitchCheckDefault" style="float:left;"> 
                        Only include songs added by this user
                    </label>
                </div>

                <br>    
                <div class="input-group mb-3 container input-container" style="width: 35%; padding: 0;">
                    <span class="input-group-text">Link to User 2</span>
                    <input type="text" name="usernameTwo" id="usernameTwo" class="form-control" 
                           placeholder="User Link" aria-label="User Link" aria-describedby="button-addon2" required>
                </div>

                <div class="container form-check form-switch" style="width: 35%;">
                    <input class="form-check-input" type="checkbox" id="userTwoOnlyIncludeUser" name="userTwoOnlyIncludeUser">
                    <label class="lead form-check-label" for="flexSwitchCheckDefault" style="float:left;"> 
                        Only include playlists created by the user
                    </label>
                </div>

                <div class="container form-check form-switch" style="width: 35%;">
                    <input class="form-check-input" type="checkbox" id="userTwoOnlyIncludeUserSongs" name="userTwoOnlyIncludeUserSongs">
                    <label class="lead form-check-label" for="flexSwitchCheckDefault" style="float:left;"> 
                        Only include songs added by this user
                    </label>
                </div>
            
                <br>

                <div class="container" style="width: 35%; padding: 0;">
                    <p class="lead artistName">How to obtain a User link?</p>
                    <p class="lead countValue" style="font-weight:300;">
                        While viewing a user press the 
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16" stroke="white" stroke-width="1">
                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                        </svg>
                        to open the dropdown menu. 
                    </p>
                    <p class="lead countValue" style="font-weight:300;">Hover over <span style="font-weight:500;">Share</span> and press 
                        <span style="font-weight:500;">Copy link to profile</span>, then paste it here
                    </p>
                </div>

                <button class="comparePlaylistButton btn btn-lg btn-secondary font-weight-bold <% if(!accessTokenPresent) { %> disabled <% } %>"
                        style="margin-top:20px;">
                    Match
                </button>
            </form>

            <div class="spinner" style="opacity: 0;">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2022 </p>
        </footer>


    </div>

    <!-- JavaScript / JQuery -->
    <script>
        const dotColor = '#1DB954'; //#FFB954
        let bothPlaylistsValid = false; // disable the button compare playlists if not, use jquery
        let accessToken = document.getElementById('hiddenAccessToken')?.value;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(".searchForm").submit(function(event) {
            jQuery('.spinner').addClass("spinnerFadeIn");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="/javascripts/backgroundCanvas.js">
    </script>
</body>

</html>